.sign-in {
    width: 360px;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;

    .title {
        margin: 10px 0;
    }
    .head {
        font-weight: bold;
        text-transform: uppercase;
    }
    .buttons {
        display: flex;
        justify-content: space-between;
    }
}