.sign-up {
    display: flex;
    flex-direction: column;
    width: 380px;
    text-transform: uppercase;

    .sub {
        font-weight: bold;
    }

    .title {
        margin: 10px 0;
        font-weight: bolder;
    }

    .head {
        font-weight: bold;
        text-transform: uppercase;
    }
}